{{>_admnavbar}}
{{#each error}}
    <div class="alert-danger">{{texto}}</div>
{{else}}
    
{{/each}}

<section class="formPost">
    <h3 class="formPost-title">Edit post</h3>

    <form class="formPost-form" action="/admin/post/edit" enctype="multipart/form-data" method="post" id="formPost-sendPost">

        <input type="hidden" value="{{post._id}}" name="id">

        <label for="editFile" id="formEditPost-chooseImage" class="main-btn --chooseFile">Choose an image</label>
        <div class="formPost-position">
            <label id="formEditPost-imageTag" class="formPost-label --imageLabel" for="editFile">

            </label>
        </div>
        <input class="formPost-input --diplay-none" type="file" id="editFile" name="file" required>
        <label for="editFile" class="formPost-nameFile" id="formEditPost-text">No image selected ...</label>


        <label class="formPost-label --diplay-none" for="fileName">fileName:</label>
        <input class="formPost-input --diplay-none" type="text" id="formEditPost-fileName" name="imageName" placeholder="File name" required readonly>

        <label class="formPost-label" for="formPost-title">Title:</label>
        <input class="formPost-input" type="text" id="formPost-title" name="title" placeholder="Post title" required value="{{post.title}}">

        <label class="formPost-label" for="formPost-slug">Slug:</label>
        <input type="text" id="formPost-slug" name="slug" placeholder="Slug name" class="formPost-input --gray" readonly value="{{post.slug}}">

        <label class="formPost-label" for="description">Description:</label>
        <textarea rows="5" id="description" class="formPost-textarea" type="text" name="description" placeholder="Description" required>{{post.description}}"</textarea>

        <label class="formPost-label" for="content">Content:</label>
        <textarea rows="10" id="content" class="formPost-textarea" type="text" name="content" placeholder="Content" required>{{post.content}}"</textarea>

        <label class="formPost-label" for="category">Category:</label>
        <select name="category" class="formPost-input">
            {{#each categories}}
                <option value="{{_id}}">{{name}}</option>
            {{else}}
                <option value="0">Nenhuma categoria registrada</option>
            {{/each}}
        </select> 

        <button type="submit" id="formPost-sendForm" class="main-btn --postFormButton">Edit post</button>
    </form>
</section>