<section class="admPost">
    <div class="admPost-create">
        <h3 class="admPost-title --h3Post">Posts list</h3>
        <a href="posts/add"><button class="admPost-buttonNew">Create new post</button></a>
    </div>
</section>

{{#each posts}}
    <section class="admPosts-section">
        <div class="admPosts-div">
            <h4 class="admPosts-title">{{title}}</h4>
            <p class="admPosts-description-subtitle">Description:</p>
            <p class="admPosts-description">{{description}}</p>
            <small class="admPosts-subtitle">Date: {{date}}</small>
            <small class="admPosts-subtitle">Category: {{category.name}}</small>
        </div>
    </section>

{{else}}
    <h4 class="admPost-title">There is no registered posts</h4>
{{/each}}